
html{
    scroll-behavior: smooth;

}
*{
    padding: 0%;
    margin: 0%;
}
::-webkit-scrollbar{
    width: 2px;
}
::-webkit-scrollbar-thumb{
    background-color: lawngreen;
}

h1{
    color: whitesmoke;
    
    margin:0 auto 0 auto ;}
  p{
    color: whitesmoke;
  }
  .div{
    position: absolute;
    top: 160px;
    left:300px;
  }
  .tree{
  width: 50%;
  height:500px;
  margin-top: 20px;
 margin-left: 0px;
 padding: o;
  }
  .grass{
    width: 500px;
    height: 100px;
    position: absolute;
    top:460px;
    
  }
  .grass1{
    width: 950px;
    height: 100px;
    position: absolute;
    
    top:460px;

  }
  .grass2{
    width: 900px;
    height: 100px;
    position: absolute;
    left: 0;
  
    top:460px;
  }
  .cloud{
   width: 300px;
  height: 100px;
  position: absolute;
  left:0;
  
  animation-name: cloud;
  animation-iteration-count: infinite;
  animation-duration: 60s;
  animation-direction: alternate;
  }
  
  @keyframes cloud{
    from {left:0px}
    to {left: 900px;}
  }
  .cloud1{
  right: 0;
   width: 300px;
  height: 100px;
  position: absolute;
  top:200px;
  animation-name: cloud1;
  animation-iteration-count: infinite;
  animation-duration: 60s;
  animation-direction: alternate;
  }
  
  @keyframes cloud1{
    from {right:0px}
    to {right: 1000px;}
  }
    .earth{
   
   background:brown;
   background-image: linear-gradient( rgb(109, 77, 30) 10%, #9D5F38 40%);
    z-index: 2;
   
  }

  .na{
    color: black;
  font-family: sans;
  
  }
  .p{
    position: absolute;
    top:   40px;
    left:43px;
    font-weight: bolder;
  }
  .rock1
  { text-align: center;
      width:80px;
      height:80px;
      background-image: url("src/imges/kisspng-rock-free-content-clip-art-cartoon-rock-cliparts-5aa9f89aab2413.939412701521088666701.png");
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top:480px;
      right:200px;
    
  }
  #weatherdiv{
    position: absolute;top:10px;right:30px;border-radius: 50%;;padding: 10px;width: 150px;height: 150px;z-index: 1;}
 
  .rock2
  {text-align: center;
    background-image: url("src/imges/kisspng-rock-free-content-clip-art-cartoon-rock-cliparts-5aa9f89aab2413.939412701521088666701.png");
    background-repeat: no-repeat;
    background-size: contain;
    width:80px;
    height: 80px;
    position: absolute;
    top:760px;
    left: 280px;
  
  
  }
  
  .rock3
  {text-align: center;
    width:80px;
    height: 80px;
    background-image: url("src/imges/kisspng-rock-free-content-clip-art-cartoon-rock-cliparts-5aa9f89aab2413.939412701521088666701.png");
      background-repeat: no-repeat;
      background-size: contain;
    position: absolute;
   top: 850px;
    left:100px;
 
  
  }
  .rock4
  {text-align: center;
    background-image: url("src/imges/kisspng-rock-free-content-clip-art-cartoon-rock-cliparts-5aa9f89aab2413.939412701521088666701.png");
    background-repeat: no-repeat;
    background-size: contain;
    width:80px;
    height: 80px;
    position: absolute;
    top: 740px;
    right:850px;
  
  }
 
  
  .rock5
  {text-align: center;
    background-image: url("src/imges/kisspng-rock-free-content-clip-art-cartoon-rock-cliparts-5aa9f89aab2413.939412701521088666701.png");
    background-repeat: no-repeat;
    background-size: contain;
    width:80px;
    height: 80px;
    position: absolute;
    top: 600px;
    right:600px;
  
  }

  .rock6

  {
    text-align: center;
      background-image: url("src/imges/kisspng-rock-free-content-clip-art-cartoon-rock-cliparts-5aa9f89aab2413.939412701521088666701.png");
    background-repeat: no-repeat;
    background-size: contain;
    width:80px;
    height: 80px;
    position: absolute;
    top: 600px;
    left:0px;
  
  }
  .a{
    text-decoration: none;

    position: relative;
    top:10px; 
   left:0px;
   font-size:large;
   font-weight: bold;
   font-style: oblique;
   color: rgb(44, 34, 34);

  }


.dp{
    width:250px;
    height: 250px;
    background-image:url("src/imges/nk.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 50%;
    margin: 30px auto 0 auto;
    border: 10px solid black;
}
#profile{
    transition-duration: 4s;
}
i{
    font-size: xx-large;
    margin-left:15px;
    margin-top: 6px;;
}

.col-md-5{
    text-align: center;
    
}
.col-md-4{
    text-align: center;
}
.about{
    margin-top: 100px;
}
body{
    background-color: hotpink;
}
.a:hover{
    text-decoration: none;
    color: rgb(44, 34, 34);
}
.hr{
    color: green;
}
hr.style-one {
    border-bottom: 10px;
    border-style: dotted;
    color: whitesmoke;
    width:200px;
    margin: 0 auto 0 auto;
    }
    .edu{
      text-align: center;
    }
    .hobbies{
      text-align: center;
    }
    .skills{
      text-align: center;
    }
.col-lg-5{

 text-align: end;
}

.rain{
  animation: rain 0.5s linear infinite  ;
  background-image: url(./src/imges/rain.png);
  background-repeat: repeat;
  background-size: contain;
  background-attachment: fixed;
  position: absolute;
  width: 100%;
  height: 100%;
}
@keyframes rain{
  from
  { 
    background-position: center center;
  }
 
  to{
    background-position: 10% 10%;
  
  }
}


.col-sm-3{
  text-align: center;
}







@media only screen and (max-width: 600px) {
  
  #weatherdiv{
    position: absolute;top:0px;left:0px;border-radius: 50%;;padding: 0px;width: 150px;height: 150px;z-index: 1;}
  .tree{
    width: 100%;
    height:450px;
    margin-top: 70px;
   margin-left: 0px;
   padding: o;
   z-index: 10;
    }
    .grass{
      width:100%;
      height: 110px;
      position: absolute;
      top:460px;
      left: 0px;
      
    }
    .grass1{
   display: none;
   background-color: springgreen;
    }
    .grass2{

     display: none;
     background-color: springgreen;
    }
    .root
    {
      width:100%;
    }
    .div{
      position: absolute;
      top: 180px;
     left:130px;
    }

    .cloud{
      width: 150px;
     height: 30px;
     position: absolute;
     left:0;
     top:90px;
     z-index: -1;
     animation-name: cloud;
     animation-iteration-count: infinite;
     animation-duration: 20s;
     animation-direction: alternate;
     }
     
     @keyframes cloud{
       from {left:0px}
       to {left: 180px;}
     }
     .cloud1{
  display: none;}

  .rock1
  { text-align: center;
      width:90px;
      height:50px;
      background-image: url("src/imges/kisspng-rock-free-content-clip-art-cartoon-rock-cliparts-5aa9f89aab2413.939412701521088666701.png");
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top:490px;
      right:200px;
      cursor: pointer;
    
  }
 
  .rock2
  {text-align: center;
    background-image: url("src/imges/kisspng-rock-free-content-clip-art-cartoon-rock-cliparts-5aa9f89aab2413.939412701521088666701.png");
    background-repeat: no-repeat;
    background-size: contain;
    width:90px;
    height:50px;
    position: absolute;
    top:520px;
    left: 250px;
    cursor: pointer;
  
  
  }
  


 


  .rock5

  {
    text-align: center;
      background-image: url("src/imges/kisspng-rock-free-content-clip-art-cartoon-rock-cliparts-5aa9f89aab2413.939412701521088666701.png");
    background-repeat: no-repeat;
    background-size: contain;
    width:90px;
    height:50px;
    position: absolute;
    top: 650px;
    right:270px;
    cursor: pointer;
  
  }
  .a{
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    text-decoration: none;
   position: relative;
   top:10px; 
  left:0px;
   font-size:small;
   font-weight: bold;
   font-style: oblique;
   color: rgb(44, 34, 34);

  }
 


}


.list-unstyled li{
display: inline;  
}
#weather{
  display: inline;
}
#temp {
  display: inline;
}
.sunny{
  background-image: url(./src/imges/sun_PNG13450.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.rainy{
  background-image: url(./src/imges/kisspng-blue-sky-wallpaper-rain-clouds-5a7b071a324c42.1004561415180121862061.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
  #b{
  
    overflow-x: hidden;

  }

.day{

  background-color: skyblue;
  overflow-x: hidden;
}
.night
{
   
  background-color: black;
  overflow-x: hidden;
}
